body{
     background: #FBF705; 
    /*  background-image: url(https://i.ytimg.com/vi/Vrgyha1eifk/maxresdefault.jpg); */
}
center{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    color: #39250A;
}
.food{
    
		position: absolute;
		top:50%;
		left:50%;
		width:400px;
		margin-left:-200px;
		height:300px;
        margin-top:-100px;  
        text-align: center;
	
}